  .button {
    color: #61BD6C;
    border: 1px solid #76cd82;
    border-radius: 8px;
  }

   .usersTableContainer {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: linear-gradient(to right, #f4f4f4, #f2f2f2);
  }
  
  .pageSizeSelector {
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #76cd82;
    border-radius: 8px;
    font-size: 14px;
  }
  
  .userTable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
  }
  
  .tableHeader {
    background-color: #093A4B;
    font-weight: bold;
    color: white;
  }
  
  .tableHeaderCell {
    padding: 10px;
    text-align: left;
  }
  
  .tbody .tableheader {
    border-bottom: 1px solid #76cd82;
  }
  
  .tbody .tableHeader:hover {
    background-color:rgb(148, 194, 154);
  }
  
  .tbody .td {
    padding: 10px;
    text-align: left;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
  }
  
  .pagination button {
    padding: 5px 10px;
    border: 1px solid #76cd82;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #093A4B;
  }
  
  .pagination .active {
    background-color: #249108;
    color: #fff;
  }
  

  
  @media (max-width: 768px) {
    .userTable {
      width: auto;
    }
  
    .tableHeaderCell {
      text-align: center;
    }
  
    .tbody .td {
      text-align: center;
    }
  }
  
  @media (max-width: 576px) {
    .usersTableContainer {
      padding: 10px;
    }
  
    .pagination {
      flex-direction: column;
    }
  }
  